<header>
    <nav>
        <a href="/">MyLibrary</a>
        <ul>
            <li><a href="/authors">authors</a></li>
            <li><a href="/authors/new">add authors</a></li>
        </ul>
    </nav>
</header>